.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media screen and (max-width: 800px) {
    position: absolute;
    top: 5px;
    right: 10px;
  }

  .shopping-icon {
    width: 26px;
    height: 26px;
  }

  .item-count {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    bottom: 8px;
  }
}
