.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  top: 85px;
  right: 70px;
  z-index: 5;

  .empty-message {
    font-size: 18px;
    margin: 100px auto;
  }

  .cart-items {
    height: 275px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width:10px; // manage scrollbar width here
    }
    &::-webkit-scrollbar * {
      background:transparent; // manage scrollbar background color here
    }
    &::-webkit-scrollbar-thumb {
      background:rgba(41, 41, 41, 0.1) !important; // manage scrollbar thumb background color here
    }
  }

  button {
    margin-top: auto;
  }
}
