.collection-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;

  .title {
    font-size: 30px;
    margin: 0 auto 25px;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 15px;

    & .collection-item {
      margin-bottom: 30px;
      justify-self: center;
    }

    @media screen and (max-width: 3840px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    @media screen and (max-width: 1920px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media screen and (max-width: 1400px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (max-width: 950px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 600px) {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: unset;
    }
  }
}

.back-button {
  padding-top: 30px;
  display: flex;
  justify-content: left;
  align-items: center;

  .back-arrow {
    font-size: 25px;
    @media screen and (max-width: 1200px) {
      font-size: 20px;
    }
  }
}

.placeholder-container {
  padding: 100px 0;
}

.collection-placeholder {
  text-align: center;
  width: 100%;

  @media screen and (max-width: 800px) {
    font-size: 18px;
  }
}
