.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 26px;
    height: 26px;
  }

  .item-count {
    position: absolute;
    font-size: 9px;
    font-weight: 600;
    bottom: 14px;
  }
}