.privacy-statement {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  text-align: center;

  .privacy-statement-text {
    color: #111;
    padding: 125px;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: left;

    p {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    @media screen and (max-width: 800px) {
      font-size: 21px;
      padding: 50px;
      letter-spacing: 2px;
    }
  }
}
